spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/springboot_study
    username: jaemin
    password: 0000
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug

management:
  endpoints:
    web:
      exposure:
        include: health,env
  endpoint:
    health:
      show-details: ALWAYS
    env:
      show-values: ALWAYS